# Entornos virtuales
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Modelo pesado
models/*.pth
models/*.pt
models/*.ckpt

# Archivos generados
static/uploads/
static/results/
uploads/
results/
data/*.db

# Variables locales
.env

# Sistema y editor
.DS_Store
Thumbs.db
.vscode/